@import '../core/variables';
@import '../core/fonts.scss';

.asidebar__container {
  text-align: center;
  height: 100%;
  width: 220px;
  color: white;
  background-color: $colorSecundary;
  font-family: 'Graphik-Bold-Web';
  //   font-weight: bold;
}
.asidebar__img {
  height: 80px;
  width: 80px;
  margin-top: 41px;
  margin-bottom: 19px;
}
.asidebar__name {
  height: 17px;
  margin-bottom: 7px;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}
.asidebar__job {
  color: #ffd000;
  font-size: 10px;
  margin-bottom: 23px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
}
.asidebar__paid {
  margin-top: 23px;
}
.asidebar__time {
  font-size: 26px;
  font-weight: bold;
}

h5 {
  font-size: 12px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

small {
  font-family: 'Graphik-Light-Web';
  font-weight: 300;
  color: #ffffff;
  font-size: 10px;
}
.link__logOut{
  color:rgb(160, 193, 226);
  font-size:14px;
  padding-bottom: 10px;
}