@import "../core/variables";

.gestor__wrap--filter {
  display: flex;
  justify-content: center;
  padding-bottom: 18px;
  background-color: white;
}

.gestor__wrap--selectfilter {
  margin: 0 10px;
  width: 200px;
  height: 45px;
  border-radius: 5px;
  border: solid 1px #ebeced;
  background-color: white;
  font-size: 14px;
  font-weight: 500;
  color: #445870;
}
