@import "../core/variables";

.gestormain {
  width: 100vw;
  height: 100vh;
  background-color: #f5f5f5;
}

.requestscontainer {
  padding-right: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}

.holidays__status--btn {
  display: flex;
  padding-right: 15px;
}

.logout-gestor-btn {
  padding: 8px 25px;
  font-family: Graphik;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #069ffb;
  background-color: white;
  border: solid 2px #ebeced;

  &:hover {
    cursor: pointer;
  }
}

.filters-line {
  padding: 0 30px 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: white;
}

.reset-btn {
  padding: 8px 25px;
  font-family: Graphik;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #069ffb;
  background-color: white;
  border: solid 2px #ebeced;

  &:hover {
    cursor: pointer;
  }
}

.mainwrap__gestor {
  margin: 20px 200px;
  height: 100vh;
}

.mainwrap {
  background-color: #f5f5f5;
}
