@import "../core/variables";

p {
  margin: 0;
}
.mainwrap__gestoritem {
  margin: 0;
  padding: 20px 15px;
  font-size: 12px;
  color: $colorTerciary;
  border-bottom: solid 1px #ebeced;
  background-color: white;

  &:hover {
    background-color: rgba(255, 208, 0, 0.2);
  }


  &--status {
    display: flex;
  }
}