@import "../core/variables";

.mainwrap__useritem{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding:0 75px 0 30px;
    height: 30px;
    width: 700px;
    font-size: 12px;
    color:$colorTerciary;
    border-bottom: 1px solid grey;

    &--status{
        display: flex;
        align-items: center;
    }
}
