@import "../core/variables";

.mainwrap__useritem{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding:5px 75px 5px 30px;
    width: 700px;
    font-size: 12px;
    color:$colorTerciary;
    border-bottom: solid 1px #ebeced;

    &--status{
        display: flex;
        align-items: center;
    }
}
