@import "../core/variables";

.mainwrap__useritem {
  margin: 0;
  padding: 15px 0 15px 15px;
  font-size: 12px;
  color: $colorTerciary;
  border-bottom: solid 1px #ebeced;
  background-color: white;

  &--status {
    display: flex;
  }
}
