@import "../core/variables";

.detailmain {
  width: 100vw;
  height: 100vh;
  background-color: #f5f5f5;
}

.detailwrap__title {
  width: 700px;
  margin-top: 20px;
  padding: 31px 0 34px 30px;
  width: 700px;
  background-color: white;
}
