@import '../core/fonts.scss';

.login__container {
  margin: 157px auto;
  width: 437.7px;
  height: 337.1px;
  border-radius: 10px;
  box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.5);
  border: solid 1px #eeeeee;
  background-color: #ffffff;
}

.login__title {
  margin: 27.6px auto 25px;
  height: 46px;
  font-family: 'Graphik-Bold-Web';
  font-size: 30px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.53;
  letter-spacing: -1px;
  text-align: center;
  color: #333333;
}

.fillInput {
  margin: 0 auto 19.7px;
  text-align: center;
}

.request__form--input {
  width: 321.6px;
  height: 44.4px;
  background-color: #eeeeee;
  border: none;
  font-family: 'Graphik-Medium-Web';

  &::placeholder {
    padding-left: 17px;
    //font-family: 'Graphik-Medium-Web';
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.1px;
    color: #b1b1b1;
  }
}

.login__button--container {
  text-align: center;
}
