@import "../core/variables";
@import "../core/fonts.scss";

.mainwrapmain {
  margin: 20px 200px;
  height: 100vh;
}

.mainwrap__title {
  font-family: "Graphik-Bold-Web";
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #3d4750;
  padding: 30px;
  margin: 0;
  background-color: white;
}

.new__petition {
  display: flex;
  justify-content: flex-end;
}
