@import './core/fonts.scss';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  padding: 0;
  margin: 0;
  width: 100vw;
  background-color: #f5f5f5;
  box-sizing: border-box;
}
.main {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
