@import "./variables.scss";

.request__form {
  width: 700px;
  height: 389px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5);
  background-color: #ffffff;
  padding: 30px;

  &--title {
    font-family: "Graphik-Bold-Web";
    font-size: 24px;
    color: $colorSecundary;
    font-weight: bold;
  }

  &--inputs {
    display: flex;
  }

  &--label {
    font-family: "Graphik-Medium-Web";
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.1px;
    color: #3d4750;
  }

  &--label.date {
    height: 14px;
    margin-bottom: 7px;
  }

  &--input {
    margin-bottom: 10px;
    font-size: 14px;
    height: 45px;
    width: 310px;
    background-color: #eeeeee;
    border: solid 1px #ebeced;
    color: #b1b1b1;

    &::placeholder {
      padding-left: 15px;
      //font-family: Graphik;
      font-size: 14px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: 0.1px;
    }
  }

  &--buttonbox {
    display: flex;
    justify-content: center;
  }

  &--addButtonBox {
    width: 700px;
    display: flex;
    margin-top: 20px;
    justify-content: flex-end;
  }
}

.request__job {
  margin: 22px 16px 20px auto;
  border-radius: 5px;
  border: solid 1px #ebeced;
  background-color: #ffffff;

  &::placeholder {
    font-family: Graphik;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.29;
    letter-spacing: normal;
  }
}

.request__chapter {
  border-radius: 5px;
  border: solid 1px #ebeced;
  background-color: #ffffff;

  &::placeholder {
    font-family: Graphik;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.29;
    letter-spacing: normal;
  }
}

.request__text {
  display: flex;
  width: 310px;
  height: 108px;
  border: solid 1px #ebeced;
  background-color: #eeeeee;

  &::placeholder {
    display: block;
    top: 0;
    padding: 6px 6px 0 20px;
  }
}

.request__wrap {
  margin: 20px 380px;
  height: 100vh;
}
