@import './variables.scss';

.request__form {
  width: 700px;
  height: 360px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5);
  background-color: #ffffff;
  margin: 22px 250px 22px 490px;
  &--title {
    width: 283px;
    height: 29px;
    font-size: 24px;
    margin: 31px 387px 17px 30px;
    color: $colorSecundary;
    padding-top: 31px;
    font-weight: bold;
  }
  &--inputs {
    display: flex;
    justify-content: space-evenly;
  }
  &--label {
    display: block;
    font-size: 12px;
    margin-bottom: 7px;
  }
  &--input {
    font-size: 14px;
    height: 45px;
    width: 310px;
    background-color: #eeeeee;
    border: solid 1px #ebeced;
    color: #b1b1b1;
    &::placeholder {
      padding-left: 19px;
    }
  }
  &--submitButton {
    margin-top: 20px;
    width: 150px;
    height: 36px;
    border-radius: 5px;
    background-color: #eeeeee;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 20px 280px 29px 270px;
    color: #b1b1b1;
    border-style: none;
  }
}

.request__job {
  border-radius: 5px;
  border: solid 1px #ebeced;
  background-color: #ffffff;
}

.request__chapter {
  border-radius: 5px;
  border: solid 1px #ebeced;
  background-color: #ffffff;
}

.request__text {
  width: 310px;
  height: 112px;
  border: solid 1px #ebeced;
  background-color: #eeeeee;
  /*&::placeholder {
    padding: 6px 6px 0 20px;
  }*/
}
